@import "../index.module.scss";


:root {
    --color-good: #61d633;
    --color-normal: #c1be5a;
    --color-problem: #ffd934;
    --color-negative: #ff8c34;
    --color-bad: #ff5a5a;

    --color-elite: #dc00fe;

    --separator: 1px solid #4f4f4f74;
}

.rating-1 {
    color: var(--color-bad);
}

.rating-2 {
    color: var(--color-negative);
}

.rating-3 {
    color: var(--color-problem);
}

.rating-4 {
    color: var(--color-normal);
}

.rating-5 {
    color: var(--color-good);
}

.rating-95 {
    color: var(--color-elite);
    animation: eliteRating 700ms cubic-bezier(0, .51, .97, .49) 0s infinite alternate;
    text-shadow: 2px -1px 17px var(--color-elite);
}

@keyframes eliteRating {
    0% {
        scale: 1;

    }

    100% {
        scale: 1.1;
    }
}



.container {
    padding: 5%;
    width: 90%;
    height: 90%;
}

.block1 {
    display: flex;
    height: 40%;
    align-items: center;
    margin: 0 0 2dvh 0;
    padding-bottom: 1dvh;
    border-bottom: var(--separator);
}

.photoBlock {
    aspect-ratio: 3/4;
    height: 90%;
    margin: 0 5% 5% 0;
    position: relative;
}

.photo {
    // border: 2px solid #3b3b3b;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
    mask-image: radial-gradient(circle, #000000 80%, #00000000 95%);
    -webkit-mask-image: radial-gradient(circle, #000000 80%, #25252527 95%);
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.photoBorder {
    position: absolute;
    width: 100%;
    aspect-ratio: 3/4;
    top: 1dvw;
    left: 1dvw;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--white), var(--magenta)) 1;
    box-shadow: 0 0 5px 5px #00000042;
    transition: 300ms;
    &:active{
        scale: 9.05;
    }
}

.infoBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.names {
    white-space: normal;
    font-size: 150%;
    word-wrap: break-word;
    padding-bottom: 0.5dvh;
    margin-bottom: 0.5dvh;
    border-bottom: var(--separator);
    width: 100%;
}

.rating {
    display: flex;

}

.age {
    margin: 0;
}

.tag {
    margin: auto 0 5% 0;
    font-size: 110%;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;

    & * {
        -webkit-background-clip: text !important;
        background-clip: text !important;
        -webkit-text-fill-color: transparent;
        animation: gradientAnimation 10s linear infinite alternate;
        background-size: 200% !important;
    }
}

.bottomBlock{
    width: 100%;
    height: 60%;
    // border-radius: 0 0 6dvh 6dvh ;
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow:  0px -200px 45px -167px rgba(0,0,0,0.75);

    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%) ;


    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.biography {
    margin-top: 1.5dvh;
    width: 100%;
    height: fit-content;
    margin-bottom: 3dvh;
    padding-bottom: 3dvh;
    border-bottom: var(--separator);
    text-wrap: pretty;
    white-space: pre-wrap;
}

// .biography::before   {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100px;
//     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
//     backdrop-filter: blur(8px);
//     pointer-events: none;
// }

.smthElse {
    margin-bottom: 6dvh;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}