@import "../../../index.module.scss";

.ok_btn {
    background-color: #44444466;
    box-shadow: 0 0 5px 5px #00000020;


}

.modal_footer {
    display: flex;
    justify-content: end;
}


.crop_zone {
    width: 80%;
    margin: 10%;
}

.uploaded_img {
    width: 100%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.fullScreen_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: var(--transparent-magenta);
    z-index: 1999;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fullScreen_text {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.03;
    }
}

.fullScreen_text {
    font-size: var(--t-size-big);
    animation: fullScreen_text 500ms ease-in-out 0s infinite alternate;
    text-shadow: var(--t-shadow-norm-gray);
    user-select: none;
}

.loading {
    & * {
        font-size: var(--height-standart-step);
        color: var(--magenta);
        height: 4.5dvh;
    }

    aspect-ratio: 1 / 1;
}

.uploaded_container {
    &1 {
        position: static;
        height: 25dvw;
        margin: 5dvw;
        aspect-ratio: 1/1;
    }

    &2 {
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
    }
}

.upload_block {
    text-align: center;
    height: 25dvw;
    margin: 5dvw;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2.5dvh;
    border-radius: 15%;
    border: 2px solid var(--icon-magenta);
    transition: 300ms;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(1px 1px 2px var(--icon-magenta));
        scale: 1.02;
    }
}

.delete_btn {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    left: 5%;
    -webkit-tap-highlight-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--white), var(--magenta)) 1;
    border-radius: 15%;
    box-shadow: 0 0 5px 5px #00000051;

    &:hover {
        background-color: #000000a8;
    }

    &:hover .trash_ico {
        fill: var(--icon-magenta);
    }
}

.trash_ico {
    height: 2.5dvh;
    aspect-ratio: 1/1;
    cursor: pointer;
    fill: transparent;
    -webkit-tap-highlight-color: transparent;
}

@media (pointer: coarse) {
    .trash_ico {
        fill: var(--icon-magenta);
    }
}

.file_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10dvh;
}