@import "../../index.module.scss";

.p1_container{
    width: 94%;
    height: 94%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    cursor: pointer;
}

@mixin flex-1000center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_100_center{
    @include flex-1000center();
}

.p1_halfs{
    @include flex-1000center();

    &:first-of-type{
        border-bottom: 4px solid var(--icon-magenta);
    }
    &:last-of-type{
        border-top: 4px solid var(--icon-magenta);
    }

    &:hover{
        filter: drop-shadow(1px 1px 5px var(--icon-magenta));
    }
}

.p1_icon{
    height: 8dvh;

    &:hover{
        filter: drop-shadow(1px 1px 5px #00000000);
    }
}