@import "../index.module.scss";

.navbar_container {
    position: absolute;
    z-index: 1000;
    bottom: 2dvh;
    left: 0;
    width: 80dvw;
    height: 8dvh;
    background: #44444466;
    box-shadow: 0 0 5px 5px #00000020;
    border-radius: var(--height-standart-step);
    border-bottom: 2px solid #282424aa;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5dvw;
    padding-inline: 5dvw;
}

.home_icon {
    height: 4.5dvh;
    margin-inline: 5dvw;
    fill: #ffd9e9c7;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;



    &:hover {
        filter: drop-shadow(1px 1px 5px #ffd9e9c7);
    }
}

.topbar_container {
    position: initial;
    margin-top: 3dvh;
    width: 100dvw;
    height: 8dvh;
    // background: #44444466;
    // box-shadow: 0 0 5px 5px #00000020;
    border-radius: var(--height-standart-step);
    // border-bottom: 2px solid #282424aa;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_text {
    margin-inline: 5dvw;
    user-select: none;
    color: var(--white);
    font-size: 4dvh;
    text-shadow: var(--t-shadow-norm-gray);
}

.swiper-slide-shadow-coverflow {
    background-image: none !important;
}

.body_container {
    margin-top: 3dvh;
}

.slider_container {
    width: 90dvw;
    margin-inline: 5dvw;
    height: 60dvh;
    background: var(--gray-bg);
    border-radius: var(--height-standart-step);
    box-shadow: 1px 1px 6px #00000039;
    position: relative;
}

.slider_content {
    width: auto;
    height: auto;
    padding: 0%;
}

.slider_img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    border-radius: var(--height-standart-step);
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(1px 1px 5px #ffd9e977);
    }
}


.slider_name {
    display: flex;
    padding-inline: 10%;
    align-items: center;
    height: calc(60dvh - 90dvw);
    font-size: var(--t-size-normal);
    cursor: none;
    user-select: none;
}

.slider-controler {
    display: flex;
    justify-content: space-between;
    width: 84dvw;
    margin-inline: 8dvw;
    margin-top: 3.5dvh;
}

.slider_like {
    position: absolute;
    bottom: 2dvh;
    right: 0;

    width: 100%;
    display: flex;
    justify-content: end;
}

.slider-icon {
    height: 4dvh;
    margin-inline: 5dvw;
    fill: #ffd9e9c7;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.slider_name {
    cursor: grab;
}