@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: url("../assets/fonts/Montserrat-Black.woff2") format("woff2"), url("../assets/fonts/Montserrat-Black.woff") format("woff")
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff")
}


:root {
    /* colors */
    --white: #ffffff;
    --gray: #2b2a2a;
    --magenta: #ff007b;
    --transparent-magenta: #ff007b40;

    --t-size-big: 5dvh;
    --t-size-normal: 2.5dvh;
    --t-size-mini: 1.7dvh;
    --t-shadow-norm-gray: 4px 1px 4px var(--gray);
    --t-shadow-light-magenta: 4px 1px 4px var(--magenta);
    --t-shadow-light-white: 4px 1px 4px var(--white);

    --height-standart-step: 6dvh;
    --width-standart-step: 5dvw;


    --colorTextPlaceholder: "#838383";
}


@mixin hover_link {
    scale: 1.01;
    transition: 300ms;
}

@mixin hover_link_scaled {
    scale: 1.05;
    transition: 300ms;
}


* {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: var(--white);
}

////////////////////////////////////////////////////////////////////// 

.logo_img{
    user-select: none; 
    aspect-ratio: 1 / 1; 
    height: 12dvh;
    pointer-events: none;
}


.error {

    &_container {
        height: 100dvh;
        width: 100dvw;
        margin: auto;
        background-color: var(--magenta);
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &_inner_container {
        padding: var(--width-standart-step);
    }

    &_text {
        color: var(--white);
        font-size: var(--t-size-big);
        text-shadow: var(--t-shadow-norm-gray);
    }

}



.auth {

    &_container {
        position: relative;
        // background-color: var(--gray);
        width: 100dvw;
        height: 100dvh;
        align-items: center;
        display: flex;
    }

    &_inner_container {
        padding: var(--width-standart-step);
        margin: auto;
    }

    &_text {
        user-select: none;
        color: var(--white);
        font-size: var(--t-size-big);
        text-shadow: var(--t-shadow-norm-gray);
    }

    &_url {
        user-select: none;
        color: var(--magenta);
        font-size: var(--t-size-mini);
        text-decoration: underline;
        cursor: alias;
    }

    &_url:hover {
        text-shadow: var(--t-shadow-light-magenta);
        filter: brightness(1.2);
        @include hover_link();
    }

    &_skip_btn {
        color: var(--white);
        font-size: var(--t-size-normal);
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        top: var(--height-standart-step);
        right: var(--width-standart-step);
        cursor: alias;

        &:hover {
            text-shadow: var(--t-shadow-light-white);
            @include hover_link_scaled();
        }
    }

    &_loading {
        & * {
            font-size: var(--height-standart-step);
            color: var(--magenta);
        }

        aspect-ratio: 1 / 1;
        height: var(--height-standart-step);
    }

    &_ok_btn {
        @keyframes ok_btn_animation {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(1.05);
            }
        }

        user-select: none;
        aspect-ratio: 1 / 1;
        height: var(--height-standart-step);
        cursor: alias;
        filter: brightness(1);
        animation: ok_btn_animation 500ms cubic-bezier(.53,.03,.46,.99) infinite alternate;

        &:hover {
            cursor: alias;
            filter: brightness(1.2);
            filter: drop-shadow(1px 1px 5px var(--magenta));
            @include hover_link_scaled();
        }



        &_disable {
            cursor: not-allowed;
            user-select: none;
            height: var(--height-standart-step);
        }

    }


    &_bottom_text {
        user-select: none;
        position: absolute;
        z-index: 10;
        bottom: var(--height-standart-step);
        width: 100dvw;
        display: flex;
        justify-content: center;
        font-size: var(--t-size-mini);
    }



    //  INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES
    &_input {
        border-color: transparent;
        background-color: #d9d9d91a;
        box-shadow: inset 0 0 15px 6px #00000040,
            1px 1px 15px 8px #00000040;
        height: var(--height-standart-step);
        width: 70dvw;
        color: var(--white);
        font-size: var(--t-size-normal);
        outline: 2px solid var(--white);
    }

    &_input::placeholder {
        color: #838383;
        opacity: 1;
    }

    &_input:hover {
        outline: 2px solid var(--magenta);
        border-color: transparent;
        background-color: #d9d9d91a !important;
        box-shadow: inset 0 0 15px 6px #00000040,
            1px 1px 15px 8px var(--transparent-magenta) !important;
    }

    &_input:focus {
        outline: 2px solid var(--magenta);
        border-color: transparent;
        background-color: #d9d9d91a;
        box-shadow: inset 0 0 15px 6px #00000030,
            1px 1px 15px 8px var(--transparent-magenta),
            0 0 10px 6px var(--transparent-magenta) !important;
    }

    &_input:focus-within {
        outline: 2px solid var(--magenta);
        border-color: transparent;
        background-color: #d9d9d91a;
        box-shadow: inset 0 0 15px 6px #00000030,
            1px 1px 15px 8px var(--transparent-magenta);
    }

    //  INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES    INPUT STYLES

}


.home {

    // &_container {
    //     // width: 100dvw;
    //     // height: 100dvh;
    // }

    &_navbar {

        &_logo {
            height: 4dvh;
            margin-inline: var(--width-standart-step);
            cursor: alias;

            &:hover {
                filter: brightness(1.5);
                filter: drop-shadow(1px 1px 5px #ff007baa);
                scale: 1.1;
                transition: 400ms;
            }
        }


        &_text {
            font-size: 3.5dvh;
        }

        &_filter * {
            color: var(--white);
            stroke: var(--white);
            font-size: 3.5dvh;
            stroke-width: 2px;
            fill: var(--white);
            cursor: pointer;

        }

        &_filter_hover:hover {
            filter: brightness(1.5);
            filter: drop-shadow(1px 1px 5px #ff007baa);
            scale: 1.1;
            transition: 400ms;
        }

        &_filter_hover {
            margin-inline: var(--width-standart-step);
        }

        &_input {
            height: 4.5dvh;
            font-size: var(--t-size-normal);
            width: auto;
            margin-inline: var(--width-standart-step);
            border-radius: var(--height-standart-step);
        }



        &_dropdown {

            &_icon * {
                font-size: 2dvh;
            }

            &_item:hover {
                filter: drop-shadow(1px 1px 2px var(--magenta));
            }

            &_item {
                border: 2px solid #fff0;
            }

        }
    }


}